body,html{
    font-family:"Noto Sans KR", "Helvetica Neue", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "돋움", dotum, sans-serif;
}
.body_wrap{
    width:1050px;
    margin:0 auto;
}
.body_wrap h1{
left:150px;
position: relative;
margin-bottom:80px;
}

.body_wrap li{
list-style: none;
margin-bottom:30px;
left:180px;
position:relative;
margin-right:100px;
}
.highlight{
    color:Red;
}
.label_text{
    font-size:12px;
    line-height:26px;
position:absolute;
text-align:right;
}
.text_field{
    position: relative;
    left:120px;
    width:230px;
    height: 30px;
    background-color:#e3e5e9;
    border:2px  rgb(222, 223, 224) solid;
    border-radius: 5px;
    
}
.btn_box{
   left:160px; 
   position: relative;
  
}

.btn_submit{
    cursor:pointer;
    background-color:rgb(66, 245, 108);
    position: absolute;
    margin-right:30px;
    border-radius: 10px;
    color:#111;
    width:55px;
    height:40px;
    border:none;
    font-size:14px;
}
.btn_cancel{
    font-size:14px;
    cursor:pointer;
    display: block;
    position: relative;
    width:55px;
    height:40px;
    text-align: center;
    background-color:rgb(252, 34, 5);
    color:#111;
    left:80px;
    line-height: 40px;
    border-radius:10px;
    text-decoration: none;
}
.check_field{
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    border:none;
    width:80px;
    height: 30px;
    background: cornflowerblue;
    color:#fff;
    left:140px;
}
